<div id="<%= dom_id photo %>">
  <p>
    <strong>Caption:</strong>
    <%= photo.caption %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= photo.image %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= photo.activity_id %>
  </p>

</div>
